/* Global styles */
:global(.app) {
  background: #F7F8FA;
  color: #566268;
  padding-bottom: 9px;
}
:global(.btn) {
  cursor: pointer;
}
:global(.text-size-md) {
  font-size: 14px;
}
:global(.list-group-item) {
  border: none;
  margin-bottom: 3px;
  padding: .75rem .75rem;
}
:global(.display-none) {
  display: none;
}

/* Navibation buttons */
:global(.btn-nav) {
  border: 1px solid #C5D3DA;
  border-radius: 6px; 
  font-size: 14px;
  width: 125px;
}
:global(.active-nav) {
  background: #C5D3DA;
  color: #FFF;
  font-weight: bold;
}
:global(.inactive-nav) {
  background: #FFF;
  color: #C5D3DA;
  font-weight: bold;
}
:global(.active-nav:hover) {
  background: #C5D3DA;
  color: #FFF;
  cursor: default;
}
:global(.inactive-nav:hover) {
  background: #D23E3E ;
  color: #FFF;
}
:global(.active-nav:focus) {
  box-shadow: none;
}
:global(.inactive-nav:focus) {
  box-shadow: none;
}

/* Alerts */
:global(.alert-dismissible) {
  position: relative;
  margin-bottom: 25px;
}
:global(.close.alert-close) {
  position: absolute;
  top: 0;
  right: 0;
  margin-top: 0;
  cursor: pointer;
  border-top-right-radius: 0.25rem;
  border-bottom-right-radius: 0.25rem;
}

/* Switch styling */
:global(.activatedSwitch) {
  background-color: #E54241;
}
:global(.disabledSwitch) {
  background-color: #C5D3DA;
}
:global(.disabledSwitch:before) {
  transform: translateX(18px);
}

/* Cover page styling */
:global(.cover-page) {
  background: url('/images/home.png');
  background-size: 370px;
  background-repeat: no-repeat;
  background-position: 50% 8px;
  height: 585px;
  width: 380px;
  position: relative;
}
:global(.cover-page-button) {
  color: #FFF;
  background-color: #E54241;
  position: absolute;
  bottom: 50px;
  width: 320px;
  left: 32px;
}
:global(.cover-page-button:hover) {
  color: #FFF;
  background-color:  #D23E3E;
}
