.RunrunHeader {
  display: flex;
  justify-content: space-between;
  padding: 15px;
  align-items: center;
}

.RunrunHeader__left a {
  float: left;
  margin-right: 10px;
}

.RunrunHeader__left span {
  float: left;
  line-height: 18px;
  font-size: 14px;
}

.RunrunHeader__left_title {
  font-size: 18px!important;
  width: 50%;
}

.RunrunHeader__right {
  /* float: left; */
}

img.Settings {
  height: 22px;
  margin-right: 2px;
  margin-left: 10px;
}

img.RunrunIcon {
  width: 35px;
}