.CoverDiv {
  width: 380px;
}

.TasksDiv {
  width: 400px;
}

.OpenedTasksPage {
  width: 400px;
  padding: 1px 10px;
}

.RunrunItem__area {
  position: relative;
}

.RunrunItem__id {
  text-transform: capitalize;
  display: block;
  font-size: 11px;
  cursor: pointer;
  color: #9FB3BF;
  font-weight: bold;
}

.RunrunItem__name {
  display: block;
  font-size: 15px;
  margin: 3px 0 11px 0;
  line-height: 16px;
  cursor: pointer;
}

.RunrunItem__autoPause {
  position: absolute;
  top: 0;
  right: 0;
}

.RunrunItem__autoPause span {
  cursor: pointer;
}

.RunrunItem__autoPause img {
  width: 24px;
}

.RunrunItem__actionBtnPlay {
  cursor: pointer;
  height: 20px;
  width: 20px;
  margin-right: 3px;
  display: inline-block;
  background: url('/images/play_blue.svg');
  background-size: 20px;
  background-repeat: no-repeat;
}

.RunrunItem__actionBtnPlay:hover {
  background: url('/images/play_blue_hover.svg');
  background-size: 20px;
  background-repeat: no-repeat;
}

.RunrunItem__actionBtnPause {
  cursor: pointer;
  height: 20px;
  width: 20px;
  margin-right: 3px;
  display: inline-block;
  background: url('/images/pause_blue.svg');
  background-size: 20px;
  background-repeat: no-repeat;
}

.RunrunItem__actionBtnPause:hover {
  background: url('/images/pause_blue_hover.svg');
  background-size: 20px;
  background-repeat: no-repeat;
}

.RunrunItem__completeBtn {
  cursor: pointer;
  height: 20px;
  width: 20px;
  margin-right: 10px;
  display: inline-block;
  background: url('/images/check_blue.svg');
  background-size: 20px;
  background-repeat: no-repeat;
}

.RunrunItem__completeBtn:hover {
  background: url('/images/check_blue_hover.svg');
  background-size: 20px;
  background-repeat: no-repeat;
}

.RunrunItem__progressDiv {
  display: inline-block;
  width: 300px;
  height: 25px;
  position: relative;
  float: right;
  margin-top: -3px;
}

.RunrunItem__progressTime {
  position: absolute;
  left: 0;
  top: 0;
  font-size: 13px;
}

.RunrunItem__progressLink {
  position: absolute;
  right: 0;
  top: 3px;
  font-size: 10px;
  color: #3399FF;
}

.RunrunItem__progressLink:hover {
  color: #2982CC;
}

.RunrunItem__progressBar {
  position: absolute;
  bottom: 2px;
  width: 300px;
  height: 4px;
  background: #c9c9c9;
}

.RunrunItem__progressFilledBar {
  position: absolute;
  bottom: 2px;
  height: 4px;
}